$clr-white: #fff;
$clr-black: #000;

$clr-light-grey: #c6c6c6;
$clr-dark-grey: #5e5e5e;
$clr-off-white: #f2f1f0;
$clr-navy: #071134;
$clr-mallard-green: #01928e;
$clr-orange: #ed5221;
$clr-yellow: #febf3e;

$clr-logo: #00c7c2;
