.block-newsletter {
  * {
    &:focus-visible {
      border: none !important;
      outline: none !important;
    }
  }
  .newsletter__inner {
    margin: 0 auto;
  }

  .newsletter__heading {
    display: flex;
    .newsletter__graphic-element {
      flex: 1 0 auto;
      margin-left: 30px;
      svg {
        height: 70px !important;
        width: auto !important;
      }
    }

    @include for-size($phone-only) {
      display: block;
      .newsletter__graphic-element {
        margin-left: auto;
        width: fit-content;
      }
    }
  }

  .newsletter__form {
    margin-top: 25px;
    form {
      position: relative;
    }
    input {
      background-color: transparent;
      border: 1px solid transparent;
      margin: 0;
      padding: 0;
    }

    input[type='email'] {
      border: 1px solid transparent !important;
      margin-left: 4px;
      outline: none !important;
      padding: 3px;
      transition: $transition-default;
      width: calc(100% - 80px);
    }
  }

  input[type='submit'] {
    cursor: pointer;
    position: relative;
    z-index: 4;
    @extend .fs-b1;
  }

  .input {
    align-items: center;
    align-items: center;
    border: 1px solid transparent;
    border-bottom: 1px solid $clr-mallard-green;
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: $transition-default;
    &:focus-within {
      border: 1px solid $clr-mallard-green;
    }
  }

  .actions {
    position: relative;
    z-index: 3;

    &::after {
      background-color: $clr-white;
      content: '';
      display: block;
      height: 95%;
      left: 0;
      position: absolute;
      top: 0;
      width: calc(100% + 15px);
      z-index: -1;
    }
  }

  .hs-submit {
    align-items: center;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    position: absolute;
    right: 3px;
    top: 0.9em;
    z-index: 2;

    &::after {
      background-image: url('../../../assets/img/arrow-1.svg');
      background-repeat: no-repeat;
      background-size: 19px 15px;
      content: '';
      display: inline-block;
      height: 15px;
      margin-left: 15px;
      width: 19px;
    }

    &:hover {
      &::after {
        animation: arrow_to_right 0.3s linear, arrow_from_left 0.3s linear;
        animation-delay: 0s, 0.3s;
      }
    }
  }

  .hs-error-msgs {
    color: $clr-orange;
    margin-top: 5px;
  }

  @include for-size($tablet-portrait-up) {
    .newsletter__inner {
      max-width: 70%;
    }
  }

  @include for-size($desktop-up) {
    .newsletter__inner {
      display: flex;
      flex-direction: column;
      max-width: 905px;
    }

    .newsletter__form {
      input[type='email'] {
        width: calc(100% - 110px);
      }

      margin-left: auto;
      width: 405px;

      .hs-submit {
        top: 0.6em;
        &::after {
          background-size: 31px 24px;
          height: 24px;
          width: 31px;
        }
      }
    }
  }
}
