.post {
  .block {
    .container {
      padding: 0;
    }
  }
  .post-wrapper {
    padding: 0;
  }

  .block-testimonials {
    .testimonial-title {
      @extend .fs-h6;
    }

    .testimonial-copy {
      @extend .fs-p2;
      font-weight: normal;
    }

    .testimonial-caption {
      @extend .fs-p3;
    }

    blockquote {
      padding-bottom: 40px;
    }
  }

  section,
  div {
    background-color: $clr-white;
  }

  &__top {
    a {
      svg {
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
      }
    }
  }

  &__heading {
    margin: 50px auto 0;
    max-width: 880px;
    padding: 0 60px;

    h3 {
      color: $clr-dark-grey;
      width: fit-content;
    }
    a {
      display: inline-block;
      &:not(:last-child) {
        &::after {
          content: '';
          display: inline-block;
          width: 0.5em;
        }
      }

      &:hover,
      &:focus {
        color: $clr-mallard-green;
      }
    }
    span {
      pointer-events: none;
    }
  }

  &__banner {
    margin: 40px 0;
  }

  &__content-wrapper {
    display: flex;
  }

  &__content-col-1 {
    .content-col-1__wrapper {
      left: 0;
      position: sticky;
      top: 120px;
    }
  }

  &__aside {
    @extend .fs-h6;
    font-weight: 400;
    strong {
      font-weight: bold;
    }

    .post-tags {
      display: flex;
      flex-direction: column;
      padding: 1em 0 2em;
      a {
        color: $clr-dark-grey;
        font-weight: 300;
        padding: 0.3em 0;
        &:hover,
        &:focus {
          color: $clr-mallard-green;
        }
      }
    }
  }

  &__content-col-3 {
    display: none;
    margin-left: 60px;
    width: 10%;
    svg,
    img {
      height: auto;
      transform: translateY(40vh);
      width: 100%;
    }
  }

  @include for-size($phone-only) {
    &__content-col-1 {
      margin-bottom: 50px;
    }
    &__heading {
      padding: 0;
    }
    &__content-wrapper {
      display: block;
    }
  }

  @include for-size($tablet-portrait-up) {
    &__heading {
      padding-left: 120px;
    }

    &__content-col-1 {
      width: 35%;
    }
    &__content-col-2 {
      margin-left: auto;
      width: 65%;
    }
  }

  @include for-size($desktop-up) {
    &__banner {
      margin-top: 60px;
    }

    &__heading {
      padding-left: 60px;
    }
    // &__content-col-1 {
    //   width: 40%;
    // }
    // &__content-col-2 {
    //   width: 50%;
    // }
    &__content-col-3 {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  .gallery-icon {
    img {
      border: 0 !important;
      margin: 0;
      padding: 2px 5px;
    }
  }
}
