.journal__top {
  padding-bottom: 100px;
  position: relative;
}

.journal__heading {
  display: flex;

  .cat-description {
    margin-left: auto;
    max-width: 470px;
    padding-left: 50px;
  }
}

.journal__categories {
  margin-top: 30px;
  a {
    display: inline;
    margin-right: 30px;
    &:hover,
    &:focus {
      color: $clr-mallard-green;
    }
  }
}

@include for-size($phone-only) {
  .journal__heading {
    display: block;
    .cat-description {
      margin-left: 0;
      max-width: 85%;
      padding-left: 0;
      padding-top: 20px;
    }
  }

  .journal__categories {
    background-color: transparent;
    padding: 7px 30px 15px;
    position: absolute;
    right: 0;
    text-align: right;
    transition: $transition-default;
    z-index: 50;

    .btn {
      color: $clr-navy;
      margin-bottom: 10px;
      margin-right: -25px;
      svg {
        display: inline-block;
        margin-left: 10px;
        transition: $transition-default;
        vertical-align: middle;
      }
    }

    .categories-wrapper {
      color: $clr-dark-grey;
      display: flex;
      flex-direction: column;
      opacity: 0;
      pointer-events: none;
      transition: $transition-default;

      a {
        margin-left: auto;
        margin-right: 0;
        padding-bottom: 7px;
      }
    }

    &.open {
      background-color: $clr-off-white;
      .btn {
        svg {
          transform: rotate(180deg);
        }
      }

      .categories-wrapper {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

@include for-size($tablet-portrait-up) {
  .journal__heading {
    .cat-description {
      padding-top: 0.9em;
    }
  }
}

@include for-size($desktop-up) {
  .journal__heading {
    .cat-description {
      padding-top: 1.6em;
    }
  }
}
