.case-study__next-project {
  padding-bottom: 35px;
  padding-top: 35px;
  .next-project__inner {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .next-project__thumbnail {
    aspect-ratio: 1/1;
    flex-shrink: 0;
    height: 95px;
    margin-right: 20px;
    width: 95px;
    img {
      aspect-ratio: 1/1;
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }

  .next-project__meta {
    a {
      margin-bottom: 10px;
    }
  }

  @include for-size($tablet-portrait-up) {
    .next-project__thumbnail {
      height: 105px;
      margin-right: 25px;
      width: 105px;
    }
  }

  @include for-size($desktop-up) {
    padding-bottom: 80px;
    padding-top: 100px;
    .next-project__thumbnail {
      height: 190px;
      margin-right: 40px;
      width: 190px;
    }
    .next-project__meta {
      a {
        margin-bottom: 20px;
      }
    }
  }
}
