.proposal-password-form {
  @extend .fs-p1;
  margin: 60px 0;
  text-align: center;
  &__input-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 40px auto 0;
    position: relative;
    width: min(100%, 400px);

    input {
      border: 1px solid transparent;
      border-bottom: 1px solid $clr-mallard-green;
      outline: none;
      padding: 5px 95px 5px 5px;
      transition: $transition-default;
      width: 100%;
      &:focus {
        border: 1px solid $clr-mallard-green;
      }
    }

    button {
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @include for-size($desktop-up) {
    &__input-wrapper {
      input {
        padding-right: 130px;
      }
    }
  }
}
